<%= simple_form_for(@message, html: { class: 'form-horizontal' }) do |f| %>
  <div class="inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :body, as: :text, input_html: { rows: 8 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
