<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                    :html => { :class => 'form-horizontal', :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :hint => t('labels.leave_it_blank'), :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => t('labels.we_need_your_password'), :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('users.update_profile') %>
  </div>
<% end %>

<h3><%= t('users.cancel_my_account') %></h3>

<p><%= link_to t('users.cancel_my_account'), user_registration_path(resource_name), :'data-confirm' => t('are_you_sure'), :method => :delete %>.</p>

<%= link_to t('actions.back'), :back %>
