<h2><%= t('users.forgot_your_password') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name),
                    :html => { :class => 'form-horizontal', :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('users.send_me_reset_password_instructions') %>
  </div>
<% end %>

<%= render "links" %>
