<ul class="nav pull-right">
  <% if current_user.present? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-type="dropdown">
        <%= t('users.hello', :email => current_user.email) %>
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to t('users.edit_profile'), edit_user_registration_path, :title => t('users.edit_profile') %></li>
        <li><%= link_to t('users.my_subscriptions'), subscriptions_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to t('users.admin_panel'), admin_dashboard_path, :title => t('users.edit_profile') %></li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to t('users.sign_out'), destroy_user_session_path, :method => :delete, :title => t('users.sign_out') %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t('users.sign_in'), new_user_session_path %></li>
    <li><%= link_to t('users.sign_up'), new_user_registration_path %></li>
  <% end %>
</ul>
