<!DOCTYPE html>
<html>
<head>
  <title>Locomotive</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to t(:'users.edit_profile'), edit_user_registration_path %>
    <%= link_to t(:'users.sign_out'), destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to t(:'users.sign_in'), new_user_session_path %>
    <%= link_to t(:'users.sign_up'), new_user_registration_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
